<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template"  th:value="${boards}">
		<button type="button" class="btn btn-default" name="updateBoard">수정</button>
		<button type="button" class="btn btn-default" name="deleteBoard">삭제</button>
		<p></p>
			<input type="hidden" th:value="${boards.id}" id="boardId"/>
			<table class="table">
				<tr>
					<th>Title</th>
					<td th:text="${boards.title}"></td>
					<th>작성자</th>
					<td th:text="${boards.userId}"></td>
					<th>Date</th>
					<td th:text="${boards.date}"></td>
				</tr>
			</table>
			
			<table class="table">
				<tr>
					<td><p th:text="${boards.content}"></p></td>
				</tr>
			</table>
				
			<br/>
			<table class="table">
				<tr>
					<th>UserId</th>
					<th>Comment</th>
					<th>Date</th>
				</tr>
				<tr th:each="comment : ${comments}">
					<td th:text="${comment.userId}"></td>
					<td th:text="${comment.comment}"></td>
					<td th:text="${comment.date}"></td>
				</tr>

			</table>

		</div>

	</div>
	<!-- /.container -->
	<div th:replace="fragments/footer :: footer" />
		<script type="text/javascript" th:src="@{/js/boardView.js}"></script>

</body>
</html>