<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8"/>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
		<form th:action="@{/view/board}">
			<input type="submit" class="btn btn-default" value="글쓰기" />
			<input type="button" style="float: right;" class="btn btn-sm flag" name=continueFlag value="NoUpdate"/>
		</form>
		<p></p>
		<div class="starter-template">
			<table class="table">
				<tr>
					<th>BoardId</th>
					<th>Title</th>
					<th>User</th>
					<th>Date</th>
				</tr>
				<tr th:each="board : ${boards}">
					<td th:text="${board.id}"></td>
					<td><a th:href="@{/view/{id}(id=${board.id})}"
						th:text="${board.title}"></a></td>
					<td th:text="${board.userId}"></td>
					<td th:text="${board.date}"></td>
				</tr>

			</table>
			
			<div class="panel-group" id="accordion" role="tablist"
				aria-multiselectable="true" th:each="board : ${boards}">


				<div class="panel panel-default" th:id="${board.id}">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" th:id="${board.id}" th:data-index="${board.id}"
								data-parent="#accordion" th:href="'#collapse' + ${board.id}"
								aria-expanded="false" aria-controls="collapseTwo" th:text="${board.title}">
								</a>
								<span class="crudButton">
									<button type=button class='btn btn-sm' name=updateBoard>U</button>
									<button type=button class='btn btn-sm' name=deleteBoard>D</button>
									<span class="boardDate" text-align="right;" th:text="${board.date}"> </span>
								</span>
						</h4>
					</div>
					<div th:id="'collapse' + ${board.id}" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body" th:text="${board.content}">
						</div>
					</div>
						<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="댓글" />
							</div>
							<button type="button" class="btn btn-default" name="send">send</button>
						</div>
						</form>
				</div>

		
			</div>
		</div>

	<input type="button" style="float: right;" class="btn btn-info" id="next" value="Next"></input>
	</div>
	<!-- /.container -->
	<div th:replace="fragments/footer :: footer" />
<script type="text/javascript" th:src="@{/js/boardListView.js}"></script>
<script type="text/javascript" th:src="@{/js/boardListViewComment.js}"></script>
<script type="text/javascript" th:src="@{/js/rederComment.js}"></script>
<script type="text/javascript" th:src="@{/js/renderBoard.js}"></script>
</body>
</html>