h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

footer{
    margin-top:60px;
}

.panel-title .boardDate {float : right}
.panel-footer .commentDate {float : right}
.panel-title .crudButton {float : right}
