<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>basicJava</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>com.school.exception.DateValidException</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>

	<filter>
		<filter-name>Encoding Filter</filter-name>
		<filter-class>com.school.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Encoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>StudentSendValue</servlet-name>
		<servlet-class>com.school.servlet.StudentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherSendValue</servlet-name>
		<servlet-class>com.school.servlet.TeacherController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectSendValue</servlet-name>
		<servlet-class>com.school.servlet.SubjectController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeSendValue</servlet-name>
		<servlet-class>com.school.servlet.EmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GradeSendValue</servlet-name>
		<servlet-class>com.school.servlet.GradeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StudentSendValue</servlet-name>
		<url-pattern>/studentSendValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectSendValue</servlet-name>
		<url-pattern>/subjectSendValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherSendValue</servlet-name>
		<url-pattern>/teacherSendValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GradeSendValue</servlet-name>
		<url-pattern>/gradeSendValue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeSendValue</servlet-name>
		<url-pattern>/employeeSendValue</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>com.school.servlet.MainController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/Management/*</url-pattern>
	</servlet-mapping>

	

</web-app>

