<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>basicJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
      <param-name>messageFile</param-name>
      <param-value>/WEB-INF/message.txt</param-value>
  </context-param>
  <listener>
      <listener-class>
          com.school.servlet.MessageLoader
      </listener-class>
  </listener>
	<servlet>
    <servlet-name>start</servlet-name>
    <jsp-file>/WEB-INF/jsp/result.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Context</servlet-name>
    <servlet-class>com.school.servlet.ContextServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JSP</servlet-name>
    <servlet-class>com.school.servlet.ContextServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSP</servlet-name>
    <url-pattern>/jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Context</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
</web-app>

