<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nhn.school.dao.GradeDao">

	<select id="findAll" resultMap="gradeResultMap">
		SELECT g.gra_id
		, stu.stu_id
		, stu.stu_name
		, sub.sub_id
		, sub.sub_name
		, g.gra_score
		FROM grade g
		INNER JOIN student stu ON stu.stu_id = g.gra_stuId
		INNER JOIN subject sub ON sub.sub_id = g.gra_subId
	</select>
	<select id="findAvgStudent" resultMap="gradeResultMap">
		SELECT s.stu_id
		, s.stu_name
		, AVG(g.gra_score) AS gra_score
		FROM grade g
		INNER JOIN student
		s ON
		g.gra_stuId = s.stu_id
		GROUP BY g.gra_stuId
	</select>
	<select id="findAvgSubject" resultMap="gradeResultMap">
		SELECT s.sub_id,
		s.sub_name,
		AVG(g.gra_score) AS gra_score
		FROM grade g
		INNER JOIN subject s ON
		g.gra_subId = s.sub_id
		GROUP BY g.gra_subId
	</select>


	<insert id="save">
		<choose>
			<when test="id != null and id != 0">
				INSERT INTO grade
				(gra_id, gra_stuId, gra_subId, gra_score)
				VALUES
				(#{id}, #{student.id}, #{subject.id}, #{score})
				ON DUPLICATE KEY UPDATE
				gra_stuId=#{student.id}
				, gra_subId=#{subject.id}
				, gra_score=#{score}
			</when>
			<otherwise>
				INSERT INTO grade
				(gra_stuId, gra_subId, gra_score)
				VALUES
				(#{student.id}, #{subject.id}, #{score})
			</otherwise>
		</choose>
	</insert>

	<delete id="delete">
		DELETE FROM grade
		WHERE gra_id=#{id}
	</delete>

	<resultMap id="gradeResultMap" type="Grade">
		<id column="gra_id" property="id" />
		<result column="gra_score" property="score"/>
		<association property="student" javaType="Student">
			<id column="stu_id" property="id"/>
			<result column="stu_name" property="name"/>
		</association>
		<association property="subject" javaType="Subject">
			<id column="sub_id" property="id"/>
			<result column="sub_name" property="name"/>
		</association>
	</resultMap>

</mapper>
