<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nhn.school.dao.StudentDao">

	<select id="findAll" resultType="com.nhn.school.model.Student">
		/* studentDao.findAll */
		SELECT stu_id AS id
		, stu_name AS name
		, stu_birth AS birth
		FROM student
	</select>
	
		<insert id="save">
		<choose>
			<when test="id != null and id != 0">
				INSERT INTO student
				(stu_id, stu_name, stu_birth)
				VALUES
				(#{id}, #{name}, #{birth})
				ON DUPLICATE KEY UPDATE stu_name=#{name}, stu_birth=#{birth}
			</when>
			<otherwise>
				INSERT INTO student
				(stu_name, stu_birth)
				VALUES
				(#{name}, #{birth})
			</otherwise>
		</choose>
	</insert>
	
	<delete id="delete">
		DELETE FROM student
		WHERE id=#{id}
	</delete>
	
	<select id="count" resultType="int">
		SELECT COUNT(stu_id)
		FROM student
	</select>
</mapper>
