<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nhn.school.dao.SubjectDao">

	<select id="findAll" resultType="com.nhn.school.model.Subject">
		/* subjectDao.getList */
		SELECT *
		FROM subject
	</select>

	<insert id="save">
		<choose>
			<when test="id != null and id != 0">
				INSERT INTO subject
				(id, name)
				VALUES
				(#{id}, #{name})
				ON DUPLICATE KEY UPDATE name=#{name}
			</when>
			<otherwise>
				INSERT INTO subject
				(name)
				VALUES
				(#{name})
			</otherwise>
		</choose>
	</insert>
	
	<delete id="delete">
		DELETE FROM subject
		WHERE id=#{id}
	</delete>

</mapper>
