<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nhn.school.dao.TeacherDao">

	<select id="findAll" resultType="com.nhn.school.model.Teacher">
		/* teacherDao.findAll */
		SELECT tea_id AS id
		, tea_name AS name
		, tea_birth AS birth
		, tea_subId AS subId
		FROM teacher
	</select>
	
	<insert id="save">
		<choose>
			<when test="id != null and id != 0">
				INSERT INTO teacher
				(tea_id, tea_name, tea_birth, tea_subId)
				VALUES
				(#{id}, #{name}, #{birth}, #{subId})
				ON DUPLICATE KEY UPDATE tea_name=#{name}
				, tea_birth=#{birth}
				, tea_subId=#{subId}
			</when>
			<otherwise>
				INSERT INTO teacher
				(tea_name, tea_birth, tea_subId)
				VALUES
				(#{name}, #{birth}, #{subId})
			</otherwise>
		</choose>
	</insert>
	
	<delete id="delete">
		DELETE FROM teacher
		WHERE id=#{id}
	</delete>
	
	<select id="count" resultType="int">
		SELECT COUNT(tea_id)
		FROM teacher
	</select>
</mapper>
