<!DOCTYPE html>
<html>
<div fragment="header-css">
	<!-- this is header-css -->
	<link rel="stylesheet" type="text/css"
		href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</div>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>NTS</title>
</head>
<body>
	<div fragment="header">
		<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/html/student.html">Student</a></li>
					<li class="active"><a href="/html/employee.html">Employee</a></li>
					<li class="active"><a href="/html/subject.html">Subject</a></li>
					<li class="active"><a href="/html/teacher.html">Teacher</a></li>
					<li class="active"><a href="/html/grade.html">Grade</a></li>
				</ul>
			</div>
		</div>
		</nav>
	</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>